{% extends 'base-templates/main-template.twig' %}

{% block content %}
    <section class="section">
        <div class="container">
            <h1 class="title is-1">Paste</h1>
            {% if not pasteBox %}
                <p>Sorry no paste with that id. </p>
            {% else %}
                {#public 'id' => string '10' (length=2)#}
                {#public 'paste_id' => string '10' (length=2)#}
                {#public 'title' => string 'My fancy paste' (length=14)#}
                {#public 'syntax' => string 'php' (length=3)#}
                {#public 'base62' => string 'a' (length=1)#}
                {#public 'created_at' => string '30-07-2017 03:03' (length=16)#}
                {#public 'paste' => string '<?php class MyClass { ... } ' (length=28)#}
                <h3 class="subtitle is-3">{{ pasteBox.title }}</h3>
                <p><strong>Created at:</strong> {{ pasteBox.created_at }}</p>
                {% if pasteBox.syntax %}
                    <p><strong>Syntax:</strong> {{ pasteBox.syntax }}</p>
                    <pre class="code-paste"><code class="{{ pasteBox.syntax }}">{{ pasteBox.paste }}</code></pre>
                {% else %}
                    <pre class="code-paste"><code class="nohighlight">{{ pasteBox.paste }}</code></pre>
                {% endif %}
            {% endif %}
        </div>
    </section>
{% endblock %}