{% extends 'base-templates/main-template.twig' %}

{% block content %}
    <section class="section">
        <div class="container">
            <h1 class="title is-1 has-text-centered">Paste</h1>
            <br/>
            {% if not pasteBox %}
            <p>Sorry no paste with that id. </p>
            {% else %}

            {#["id"]=> string(1) "3" #}
            {#["paste_id"]=> string(1) "3" #}
            {#["title"]=> string(4) "24 h" #}
            {#["syntax"]=> string(3) "php" #}
            {#["base62"]=> string(1) "3" #}
            {#["created_at"]=> string(16) "2017-08-13 21:42" #}
            {#["paste"]=> string(4) "aoeu" #}
            {#["link"]=> string(18) "localhost:8080/p/3" #}
            {#["expire_date"]=> string(16) "2017-08-14 21:42" #}

            <div class="columns">
                <div class="column is-9">
                    {% if pasteBox.syntax %}
                        <pre class="code-paste"><code
                                    class="{{ pasteBox.syntax }}" id="code-copy">{{ pasteBox.paste }}</code></pre>
                    {% else %}
                        <pre class="code-paste"><code class="nohighlight">{{ pasteBox.paste }}</code></pre>
                    {% endif %}
                </div>
                <div class="column is-3 sidebar">
                    <h4 title="Title of paste" class="title is-4 has-text-centered">
                        {% if pasteBox.title %}
                            {{ pasteBox.title }}
                        {% else %}
                            <i>No title</i>
                        {% endif %}
                    </h4>
                    <table class="table is-fullwidth is-striped 3">
                        <tbody>
                        {% if pasteBox.syntax %}
                            <tr>
                                <th>Syntax</th>
                                <td>{{ pasteBox.syntax }}</td>
                            </tr>
                        {% else %}
                            <tr>
                                <th>Syntax</th>
                                <td><i>No syntax specified</i></td>
                            </tr>
                        {% endif %}
                        <tr>
                            <th>Created at</th>
                            <td>{{ pasteBox.created_at }}</td>
                        </tr>
                        <tr>
                            <th>Expires</th>
                            {% if pasteBox.expire_date %}
                                <td>{{ pasteBox.expire_date }}</td>
                            {% else %}
                                <td>Never</td>
                            {% endif %}
                        </tr>
                        </tbody>
                    </table>
                    <div class="columns is-desktop">
                        <div class="column">
                            <a class="button is-info 3" data-clipboard-target="#code-copy">
                                    <span class="icon">
                                        <i class="fa fa-clipboard"></i>
                                    </span>
                                <span>Copy Paste</span>
                            </a>
                        </div>
                        <div class="column">
                            <a href="{{ path_for('deletePaste', { 'base62': pasteBox.base62 }) }}"
                               class="button is-danger" onclick="return confirm('Delete paste?');">
                                    <span class="icon is-small">
                                        <i class="fa fa-times"></i>
                                    </span>
                                <span>Delete Paste</span>
                            </a>
                        </div>
                    </div>
                    <br/>
                </div>
                {% endif %}
            </div>
        </div>
    </section>
    <script>
        var copyCode = new Clipboard('.button');
        copyCode.on('success', function (event) {
            event.clearSelection();
        });
    </script>
{% endblock %}